<h1>Help Page</h1>
<h2>Adding A New Task:</h2>
	<p>Simply Click on the "New Task" Link and it will direct you to a page. There, simply fill out the</p>
	<p> necessary fields to create a new task</p>
<h2>Editing An Existing Task:</h2>
	<p>Simply Click on the "Edit" Link beside the task that you wish to edit. It will direct you to a</p>
	<p>page to edit the selected task. There, simply edit the fields you wish to edit and then</p>
	<p>click the "Update Task" button.</p>
<h2>Marking a Task Done:</h2>
	<p>Basically, Press the Confirm Marked Task to permanently mark the task finished.</p>
<h2>Completed Task:</h2>
	<p> Press the Completed Task button. To view the tasks you have accomplished </p>
<h2> For more information and help: </h2>
<h4> Contact us : 09322627601 Sean Yu, 09277899999 Wesley Chan </h4>
<%= button_to 'Back to List', tasks_path, :class => 'btn btn-danger', :method => "get" %>