<h3>Sean and Wesley aims</h3>
<h3>to learn ruby and complete the cs21b course,</h3>
<h3>which is why we built</h3>
<h3>this To Do List,</h3>
<h3>not only to help us,</h3>
<h3>but to help everyone around us.</h3>
